<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  <i class="fa fa-globe" title="Notifications">

    <span id="notifications_count">
        <%= render 'shared/notifications_count' %>
    </span>

  </i>
</a>
<ul class="dropdown-menu list-group">
  <div class="notificationHead">
      <%= link_to "Mark all as read", mark_all_as_read_alerts_path, :remote => true, :class => "text-align-left" %>
      <%= link_to "Clear read notifications", clear_alerts_path, :remote => true %>
  </div>
  <div class="notificationList">
  <% if current_user and !current_user.unread_alerts.blank? %>
      <% current_user.unread_alerts.each do |a| %>
          <li>
            <% if a.alert_type == "EXPIRY" %>
              <a href="<%= expired_drugs_supplies_path(:store_id => a.store_id , :alert_id => a.id , :batch_id => a.inventory_batch.try(:batch_id)) %>">
            <% elsif a.alert_type == "ORDER"  %>
              <a href="<%= service_request_supplies_path(:alert => a.id) %>">
            <% elsif a.alert_type == "CUSTOM"  %>
              <a href="<%= get_notifications_alerts_path(:alert_id => a.id) %>" class="list-group-item list-group-item-success">
            <% elsif a.alert_type == "SERVICED" %>
              <a href="<%= receipts_path %>">
            <% elsif a.alert_type == "RETURN" %>
              <a href="<%= return_approval_index_returns_path(alert_id: a.id) %>">
            <% end %>
            <strong> <%= a.message %> </strong>
           </a>
          </li>
          <li role="separator" class="divider"></li>
      <% end %>
  <% end %>
  <!--Read alerts-->
  <% current_user.read_alerts.each do |a| %>
      <li class="readmessages">
        <% if a.alert_type == "EXPIRY" %>
            <a href="<%= expired_drugs_supplies_path(:store_id => a.store_id , :batch_id => a.inventory_batch.try(:batch_id)) %>">
        <% elsif a.alert_type == "ORDER"  %>
            <a href="<%= service_request_supplies_path(:alert => a.id) %>">
        <% elsif a.alert_type == "CUSTOM" %>
            <a href="<%= get_notifications_alerts_path(:alert_id => a.id)  %>" class="list-group-item list-group-item-success">
        <% elsif a.alert_type == "SERVICED" %>
            <a href="<%= receipts_path %>">
        <% end %>
         <%= a.message %>
        </a>
      </li>
      <li role="separator" class="divider"></li>
  <% end %>
  </div>
</ul>