<div class="col-xs-6">
  <table class="table table-striped data_table table-condensed">
    <thead>
    <th>Date</th>
    <th style="text-align: right">Total returns(N)</th>
    <th style="text-align: right">Total sales(N)</th>
    </thead>

    <tbody>
    <% @receipts.each do |k, v| %>
        <tr>
          <td><%= k %></td>
          <td style="text-align: right"><%= number_to_currency v[1] , unit: "" %></td>
          <td style="text-align: right"><%= number_to_currency v[0] , unit: "" %></td>
        </tr>
    <% end %>
    </tbody>

  </table>
</div>


<div class="col-xs-6">
  <table class="table table-striped data_table table-condensed">
    <thead>
    <th>Week</th>
    <th style="text-align: right">Total returns(N)</th>
    <th style="text-align: right">Total sales(N)</th>
    </thead>
    <tbody>
    <% week = 1  %>
    <% @weekly_receipts.each do |total| %>
        <tr>
          <td><%= "Week #{week}" %></td>
          <td style="text-align: right"><%= number_to_currency total[1] , unit: "" %></td>
          <td style="text-align: right"><%= number_to_currency total[0] , unit: "" %></td>
        </tr>
        <% week += 1 %>
    <% end %>
    </tbody>
  </table>
</div>