<!doctype html>
<html lang="en-US" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Order Receipt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
<h1 class="text-center">Requisition and Issue Voucher</h1>
<br>
<div class="row">
  <div class="col-xs-4">
    <div class="panel">
      <p><%= @order.organization_name %>, <br>
      <%= @order.organization_address %>,<br>
      </p>
     <span>Contact - <%= @order.organization_contact_person %></span> <br>
     <span>Email - <%= @order.organization_email %></span>
    </div>
  </div>
  <div class="col-xs-offset-4 col-xs-4">
    <p class="text-right">
    <strong>Order#<%= @order.number %></strong> <br>
      <%= Time.now.strftime("%d/%m/%Y") %> <br>
    <%= Time.now.strftime("%I:%M %p") %></p>
  </div>
</div>
<hr>
<table class="table">
  <thead>
  <tr>
    <th>Order Number</th>
    <th>Requesting Store</th>
    <th>Servicing Store</th>
    <th>Generic drug</th>
    <th>Brand</th>
    <th>Units</th>
    <th>Batch Number</th>
  </tr>
  </thead>
  <tbody>
  <tr>
     <td>PIMSO-1000</td>
     <td>Morning Dispensary</td>
     <td>Free main store</td>
     <td>Paracetamol</td>
     <td>Crocin</td>
     <td>1000</td>
     <td>BN1008YIMN</td>
  </tr>
  </tbody>
</table>
<br>
<br>
<div class="row">
  <div class="col-xs-4">
    Signature of requesting user,
  </div>
  <div class="col-xs-offset-4 col-xs-4">
    Signature of servicing User,
  </div>
</div>
</body>
</html>