<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order Receipt</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>


<div style=" position: relative; max-width: 940px;width: 90%;text-align: center;font-weight: 700;
        margin-left: auto;margin-right: auto;" class="section-head">

  <h1>State Specialist Hospital, Ondo
    Pharmacy Department</h1>

  <h3>
    Store Requisition and Issue Voucher (SRV)</h3>

  <div style="position: relative;margin-top:40px;margin-left:10px;text-align:left;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

      <p>Order No:<%= @order.number %></p><br>

      <p>Order Date:<%= @order.created_at.strftime("%d/%m/%Y")  %></p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

      <p> Time Printed:<%= Time.now.strftime("%I:%M %p") %></p><br>

      <p>Date Printed:<%=  Time.now.strftime("%d/%m/%Y")  %></p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

      <p>Consign to:<%= @order.service_requests.last.try(:from_store).try(:name) %> </p><br>

      <p>Serviced from:<%= @order.service_requests.last.try(:request_store).try(:name) %></p>

    </div>
  </div>

  <div style="text-align:center; margin:10px;margin-bottom:25px;" class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>S/N</th>
        <th>Generic</th>
        <th>Brand</th>
        <th>Batch No</th>
        <th>Qty Requested(Packs:Units)</th>
        <th>Qty Issued (Packs:Units)</th>
        <th>Remarks</th>
      </tr>
      </thead>

      <tbody>
      <% counter = 0 %>
      <% @order.service_requests.each do |s| %>
          <% s.receipts.each do |r| %>
              <% counter += 1 %>
              <tr>
                <td><%= counter %></td>
                <td><%= s.pharm_item.try(:name) %></td>
                <td><%= r.batch.try(:brand).try(:name) %></td>
                <td>
                   <%= r.batch.try(:batch_number) %>
                </td>
                <td><%= r.qty %></td>
                <td><%= r.received_qty %></td>
                <td></td>
          <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

      <p>.........................................</p><br>

      <p>Store Keeper's Signature/Date </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

      <p>.........................................</p><br>

      <p>Approved By/Date</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

      <p>..........................................</p>
      <br>

      <p>Receivers Signature/Date</p>
    </div>
  </div>

  </div>
</body>
<html>